In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.impute import KNNImputer

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price-bangladesh/house_price_bd.csv

In [2]:
data = pd.read_csv("/kaggle/input/house-price-bangladesh/house_price_bd.csv")
data.head(5)

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,"৳39,000,000","Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,"৳16,900,000","Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,"৳12,500,000","Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,"৳20,000,000","Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,"৳47,500,000","Road No 25, Banani"

In [3]:
data.shape

(3865, 9)

In [4]:
data.describe()

          Bedrooms    Bathrooms     Floor_area
count  2864.000000  2864.000000    3766.000000
mean      3.133031     2.992668    1940.299522
std       2.215457     0.978434    6024.921935
min       1.000000     1.000000      84.000000
25%       3.000000     3.000000    1100.000000
50%       3.000000     3.000000    1380.000000
75%       3.000000     3.000000    1860.000000
max      50.000000    10.000000  195840.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             3865 non-null   object
 1   Bedrooms          2864 non-null   float64
 2   Bathrooms         2864 non-null   float64
 3   Floor_no          3181 non-null   object
 4   Occupancy_status  3766 non-null   object
 5   Floor_area        3766 non-null   float64
 6   City              3865 non-null   object
 7   Price_in_taka     3865 non-null   object
 8   Location          3859 non-null   object
dtypes: float64(3), object(6)
memory usage: 271.9+ KB

In [6]:
data.dtypes

Title                object
Bedrooms            float64
Bathrooms           float64
Floor_no             object
Occupancy_status     object
Floor_area          float64
City                 object
Price_in_taka        object
Location             object
dtype: object

In [7]:
data.isna().sum()

Title                  0
Bedrooms            1001
Bathrooms           1001
Floor_no             684
Occupancy_status      99
Floor_area            99
City                   0
Price_in_taka          0
Location               6
dtype: int64

In [8]:
# check duplicates
data.duplicated().sum()

934

In [9]:
# Drop duplicate rows
data.drop_duplicates(inplace=True)

In [10]:
# check again
data.duplicated().sum()

0

In [11]:
# Columns of interest
columns_of_interest = ['Bedrooms', 'Bathrooms', 'Floor_no', 'Occupancy_status', 'Floor_area', 'Price_in_taka']

# Extract and analyze specific columns
for col in columns_of_interest:
    if col in data.columns:
        unique_values = data[col].unique()
        print(f"Column '{col}' unique values: {unique_values}")

Column 'Bedrooms' unique values: [ 3.  4.  2. nan 16.  8.  5.  1.  6. 18. 46.  7. 13. 33. 50. 23. 21. 22.
 20. 27. 15.]
Column 'Bathrooms' unique values: [ 4.  3.  2. nan  5. 10.  1.  6.  8.]
Column 'Floor_no' unique values: ['3' '1' '6' '4' '8' '2' '5' '7' '9' '8th' nan '10' '14' 'G+7' '13' '12'
 '1st' '11' 'A1,A2,A3,A4,A5,A6,A7' '0+7' '1F' '4th to 8th Backside' '18'
 '5th' '17' 'Merin City - Purbach']
Column 'Occupancy_status' unique values: ['vacant' 'occupied' nan]
Column 'Floor_area' unique values: [1.9600e+03 1.7050e+03 1.3700e+03 2.1250e+03 2.6870e+03 1.1500e+03
 2.1190e+03 2.3180e+03 1.3970e+03 2.4000e+03 1.3000e+03 1.9000e+03
 1.5000e+03 1.4500e+03 7.5000e+02 2.3430e+03 1.1850e+03 1.6100e+03
 2.1800e+03 3.6500e+03 5.0000e+03 2.7000e+03 1.1750e+03 6.5000e+02
 1.3310e+03 9.0000e+02 1.3500e+03 1.2000e+03 2.0450e+03 1.4100e+03
 1.1000e+03 1.2200e+03 1.2400e+03 1.7000e+03 1.4000e+03 1.0500e+03
 1.6000e+04 1.5040e+03 1.9800e+03 1.5850e+03 1.4850e+03 1.5450e+03
 5.6000e+03 1.3400e+03 1.2750e+03 1.2450e+03 8.5000e+02 1.4400e+03
 9.4800e+02 2.6440e+03 8.0000e+02 2.0000e+03 1.5930e+03 1.0400e+03
 1.6200e+03 1.5500e+03 1.0000e+03 1.8400e+03 7.4000e+02 1.2500e+03
 1.4300e+03 1.6900e+03 1.3300e+03 1.2300e+03 1.2650e+03 1.5540e+03
 1.5700e+03 8.1500e+02 2.5530e+03 1.5900e+03 9.5000e+02 8.6000e+02
 3.3550e+03 1.3750e+03 2.1500e+04 1.0080e+03 1.0550e+03 1.8000e+03
 2.1460e+03 1.6750e+03 2.7870e+03 5.0400e+03 9.8600e+02 9.2000e+02
 2.2900e+03 1.0750e+03 1.1350e+03 8.5500e+02 1.4250e+03 2.3800e+03
 2.6000e+03 1.6000e+03 2.2000e+03 3.4740e+03 2.0750e+03 1.3800e+03
 1.4700e+03 1.0900e+03 5.8240e+03 1.6540e+03 9.7500e+02 1.3650e+03
 1.1280e+03 1.3880e+03 1.5300e+03 4.3500e+03 2.3000e+03 3.5000e+02
 1.4390e+03 1.5050e+03 1.6050e+03 1.5370e+03 1.8150e+03 1.2250e+03
 1.0850e+03 1.2550e+03 1.9100e+03 2.1600e+02 1.4600e+03 1.5780e+03
 1.5840e+03 1.7030e+03 2.7500e+03 2.1560e+03 8.8500e+03 1.3600e+03
 1.3320e+03 3.2620e+03 1.2950e+03 2.8800e+03 1.9200e+04 1.2540e+03
 5.2000e+03 2.8590e+03 1.1950e+03 1.8600e+03 2.9500e+03 3.7000e+03
 1.0700e+03 1.4510e+03 9.4000e+02 3.6800e+02 1.2760e+03 3.1950e+03
 1.3200e+03 1.5170e+03 8.7500e+02 1.6500e+03 6.3000e+02 1.5600e+03
 1.9700e+03 1.8020e+03 4.3200e+03 2.5000e+03 1.7200e+03 9.2500e+02
 6.3570e+03 1.5530e+03 2.9450e+03 1.5950e+03 7.0000e+02 1.4800e+03
 9.9000e+02 6.0000e+02 1.0150e+03 1.0450e+03 2.1000e+03 2.3750e+03
 8.2000e+02 1.1250e+03 9.7000e+02 1.5100e+03 1.2350e+03 3.6000e+03
 3.4000e+03 8.7900e+02 1.8500e+03 1.8560e+03 1.3000e+02 6.2500e+02
 1.3250e+03 1.8520e+03 1.2100e+03 1.9550e+03 1.6090e+03 9.2200e+02
 2.4500e+03 2.2580e+03 1.8720e+03 9.3500e+02 9.6300e+02 9.5100e+02
 1.2480e+03 1.0460e+03 3.2180e+03 3.2000e+03 1.3900e+03 1.3830e+03
 2.7850e+03 2.4750e+03 2.5350e+03 1.1300e+03 1.5870e+03 3.2260e+03
 6.1200e+02 1.0200e+03 1.3100e+03 9.3000e+02 1.2600e+03 1.3150e+03
 1.7960e+03 1.2360e+03 1.1080e+03 1.6950e+03 6.2000e+03 1.2520e+03
 1.6110e+03 2.0500e+03 1.4950e+03 1.4750e+03 1.1800e+03 7.8000e+02
 1.0960e+03 2.4150e+03 8.1000e+02 4.2000e+03 1.5180e+03 2.2300e+03
 1.3960e+03 1.2700e+03 1.1560e+03 1.8300e+03 1.6340e+03 1.9500e+03
 1.2940e+03 2.1540e+03 1.5130e+03 1.6370e+03 2.2250e+03 2.2550e+03
 1.4630e+03 2.0600e+03 1.2800e+03 2.6500e+03 1.2180e+03 7.8500e+02
 1.5120e+04 1.2270e+03 1.6250e+03 1.4650e+03 1.2150e+03 1.1400e+03
 2.3500e+03 2.2050e+04 2.0090e+03 1.5750e+03 1.1150e+03 3.1320e+03
 2.8290e+03 9.1500e+02 2.5000e+02 2.1500e+03 1.2060e+03 1.8730e+03
 1.5150e+03 1.0950e+03 1.6160e+03 1.1600e+03 1.7700e+03 6.8000e+02
 2.0040e+03 1.9130e+03 1.4200e+03 1.2740e+03 4.3720e+03 6.8000e+03
 1.8900e+03 2.1420e+03 1.6800e+03 1.2040e+03 3.6600e+03 8.4000e+02
 2.1600e+03 1.6180e+03 2.2800e+03 1.2900e+03 7.7200e+02 1.1200e+03
 1.0300e+03 1.1050e+03 2.3740e+03 1.2390e+03 1.6600e+03 1.4970e+03
 1.7500e+03 8.5200e+02 1.7600e+03 2.1100e+03 2.1840e+03 1.9400e+03
 1.3220e+03 1.6350e+03 2.0250e+03 9.8000e+02 1.2850e+03 3.6400e+03
 1.2560e+03 1.3160e+03 1.2070e+03 3.1000e+03 1.3080e+03 2.2680e+03
 1.5960e+03 1.6570e+03 2.4560e+03 1.5990e+03 1.3480e+03 1.4450e+03
 8.9000e+01 9.0500e+02 1.4220e+03 2.2200e+03 2.2500e+03 1.2380e+03
 2.4400e+03 2.1870e+03 5.5000e+02 1.3350e+03 1.1860e+03 8.9500e+02
 7.6500e+02 1.5420e+03 9.5600e+02 8.3000e+02 4.0250e+03 2.9000e+03
 1.9200e+03 8.8700e+02 3.0700e+02 3.0000e+03 1.1330e+03 9.9000e+03
 1.7220e+03 1.7400e+03 8.8000e+02 1.8510e+03 2.9610e+03 1.4590e+03
 7.2000e+03 7.2500e+02 2.1400e+03 9.5500e+02 1.4120e+03 2.4100e+02
 1.2050e+03 1.1003e+04 3.6000e+02 1.0800e+03 6.3200e+02 2.0360e+03
 9.6000e+02 4.6860e+03 6.8200e+02        nan 1.7250e+03 9.4500e+02
 2.1200e+03 1.4310e+03 3.9000e+03 2.0790e+03 1.6440e+03 3.5000e+03
 1.8060e+03 1.4740e+04 1.0890e+04 1.7750e+03 2.0000e+02 2.4000e+02
 1.3500e+02 1.6410e+03 1.4520e+03 1.4260e+03 2.5400e+03 2.6220e+03
 2.5300e+03 9.7200e+02 1.5000e+02 1.1500e+02 2.4500e+04 1.3520e+03
 8.6000e+01 1.5700e+02 1.5250e+03 2.0710e+03 1.0250e+03 1.0170e+03
 1.5650e+03 1.5490e+03 1.1620e+03 1.6650e+03 2.6360e+03 1.6850e+03
 2.0200e+03 1.6720e+03 2.0500e+02 1.3800e+02 2.7700e+02 1.7500e+02
 1.2000e+02 1.2800e+02 7.0000e+03 6.0000e+03 1.2500e+02 1.3550e+03
 1.3240e+03 2.7360e+04 1.7280e+03 2.6430e+03 1.0500e+02 1.1000e+02
 1.1800e+02 1.5600e+02 1.6380e+03 1.4000e+04 2.2000e+02 8.2500e+02
 1.0070e+03 1.2900e+02 1.5800e+03 1.4280e+03 1.4080e+03 9.1500e+03
 1.2220e+03 1.2260e+03 1.6220e+03 1.6900e+02 1.9400e+02 9.2000e+03
 1.8780e+03 3.0010e+03 6.5290e+03 3.6380e+03 1.5550e+03 1.7600e+02
 1.3370e+03 6.5090e+03 4.5090e+03 1.6300e+03 1.2780e+03 1.8100e+02
 1.3540e+03 1.0130e+03 1.7800e+03 1.5440e+03 1.6460e+03 1.6080e+03
 5.0500e+03 1.0500e+04 1.5880e+03 1.3360e+03 1.6990e+03 1.7390e+03
 1.3140e+03 9.3000e+01 1.1100e+02 8.6400e+02 1.8410e+03 1.3050e+03
 1.5920e+03 1.2620e+03 1.4500e+02 2.5200e+03 8.5400e+02 1.2530e+03
 1.1000e+04 1.6120e+03 9.6500e+02 2.2520e+03 1.3300e+04 2.4100e+03
 1.4550e+03 1.7560e+03 4.0000e+03 1.7440e+03 9.6600e+02 1.4150e+03
 1.5200e+03 1.6640e+03 1.0400e+02 1.2400e+02 1.4710e+03 2.4000e+04
 1.6920e+03 1.4620e+03 1.8000e+02 1.5400e+02 1.8470e+03 2.5600e+02
 8.4000e+01 1.4350e+03 1.5900e+02 1.3130e+03 1.4330e+03 1.9240e+03
 1.0120e+03 9.7800e+02 1.8010e+03 4.4400e+02 1.4528e+04 1.1200e+02
 1.0200e+02 1.5360e+03 8.0000e+03 1.4600e+02 1.3020e+03 1.5720e+03
 1.8350e+03 1.6860e+03 5.5500e+02 1.0030e+03 1.1030e+03 8.9000e+02
 1.6070e+03 9.8200e+02 8.0500e+02 1.1020e+03 1.8700e+03 1.4400e+04
 3.8880e+03 1.0000e+02 1.6300e+02 1.6100e+02 1.2200e+02 5.5250e+03
 1.6450e+03 1.2240e+03 1.3720e+03 1.1700e+03 3.6990e+03 1.9940e+03
 1.5240e+03 2.7750e+03 8.7400e+02 1.9000e+02 1.6200e+02 7.5600e+03
 5.4000e+03 2.4480e+04 1.0600e+03 1.9560e+03 1.3790e+03 2.8600e+02
 2.4700e+02 2.0610e+03 1.1100e+03 1.3600e+02 1.7520e+03 9.5000e+01
 9.0000e+01 1.0100e+02 1.8400e+02 1.4360e+03 1.1480e+03 2.5060e+03
 1.3400e+02 1.5100e+02 1.5300e+02 2.1480e+03 8.8000e+01 4.5000e+03
 1.4660e+03 1.9150e+03 1.4230e+03 1.6150e+03 2.2950e+03 1.4870e+03
 1.4930e+03 3.8000e+03 1.6210e+03 1.4290e+03 2.8000e+03 1.6000e+02
 2.7820e+03 1.7270e+03 1.7400e+02 1.3900e+02 1.2440e+03 1.1490e+03
 1.8800e+02 1.4100e+02 9.6900e+02 1.1650e+03 1.1450e+03 1.3820e+03
 1.1700e+02 2.2200e+02 1.5630e+03 1.0000e+04 1.3870e+03 1.8580e+03
 1.0540e+03 1.3040e+03 2.0380e+03 2.6800e+03 1.0300e+02 1.6280e+03
 1.6320e+03 1.7830e+03 1.5400e+03 1.4700e+02 2.2890e+03 1.6270e+03
 1.4900e+03 1.6040e+03 4.3500e+02 2.1200e+02 1.3010e+03 1.9580e+03
 2.4200e+03 9.8000e+01 1.2300e+02 1.2600e+02 2.6090e+03 1.1570e+03
 1.7900e+03 1.3380e+03 1.6400e+03 8.5000e+01 1.7800e+02 7.0200e+02
 1.3920e+03 1.4800e+02 1.0350e+03 1.2000e+04 1.0570e+03 1.5470e+03
 1.4380e+03 1.0100e+03 1.1830e+03 1.1900e+03 1.3580e+03 1.0280e+03
 1.3270e+03 1.1510e+03 1.2330e+03 9.8500e+02 8.9700e+02 9.0000e+03
 8.6400e+03 2.0160e+03 5.4720e+03 9.8100e+02 1.9584e+05 1.1740e+03
 4.3200e+04 6.3000e+03 1.2590e+03 1.7424e+05 1.0320e+03 5.8680e+03
 2.4436e+04 1.1808e+05 1.0800e+05 6.5000e+03 7.7300e+02 1.0040e+03
 7.1000e+02 3.2400e+03 7.2000e+02]
Column 'Price_in_taka' unique values: ['৳39,000,000' '৳16,900,000' '৳12,500,000' '৳20,000,000' '৳47,500,000'
 '৳8,800,000' '৳19,000,000' '৳23,000,000' '৳8,000,000' '৳21,000,000'
 '৳11,000,000' '৳9,500,000' '৳6,200,000' '৳22,000,000' '৳13,100,000'
 '৳17,500,000' '৳78,000,000' '৳110,000,000' '৳55,000,000' '৳8,300,000'
 '৳3,100,000' '৳16,000,000' '৳4,500,000' '৳14,200,000' '৳7,500,000'
 '৳23,625,000' '৳25,000,000' '৳13,800,000' '৳4,000,000' '৳4,700,000'
 '৳5,000,000' '৳7,320,000' '৳6,500,000' '৳8,500,000' '৳120,000,000'
 '৳8,700,000' '৳7,100,000' '৳3,500,000' '৳18,000,000' '৳14,000,000'
 '৳13,200,000' '৳8,200,000' '৳32,500,000' '৳4,100,000' '৳11,500,000'
 '৳15,500,000' '৳4,800,000' '৳5,500,000' '৳7,300,000' '৳7,000,000'
 '৳35,000,000' '৳6,950,000' '৳21,500,000' '৳16,500,000' '৳14,500,000'
 '৳46,000,000' '৳7,800,000' '৳12,000,000' '৳14,800,000' '৳7,900,000'
 '৳7,400,000' '৳17,000,000' '৳6,300,000' '৳5,700,000' '৳5,600,000'
 '৳4,200,000' '৳38,000,000' '৳11,200,000' '৳8,600,000' '৳6,000,000'
 '৳6,700,000' '৳7,600,000' '৳4,900,000' '৳12,100,000' '৳220,000,000'
 '৳4,838,400' '৳5,300,000' '৳5,250,000' '৳10,500,000' '৳2,900,000'
 '৳3,360,000' '৳9,712,500' '৳29,000,000' '৳54,000,000' '৳3,300,000'
 '৳22,500,000' '৳9,600,000' '৳4,702,500' '৳9,000,000' '৳31,200,000'
 '৳45,000,000' '৳15,000,000' '৳29,050,000' '৳11,300,000' '৳300,000,000'
 '৳9,200,000' '৳8,540,000' '৳7,118,000' '৳57,000,000' '৳13,000,000'
 '৳16,150,000' '৳22,780,000' '৳14,285,000' '৳5,590,000' '৳13,805,000'
 '৳13,752,000' '৳3,700,000' '৳5,100,000' '৳2,200,000' '৳2,300,000'
 '৳3,800,000' '৳3,000,000' '৳8,855,600' '৳26,125,000' '৳7,507,500'
 '৳10,000,000' '৳9,750,000' '৳5,594,400' '৳75,000,000' '৳8,537,500'
 '৳40,000,000' '৳35,237,500' '৳32,000,000' '৳44,000,000' '৳2,700,000'
 '৳13,500,000' '৳11,040,000' '৳34,100,000' '৳9,130,000' '৳80,000,000'
 '৳65,000,000' '৳6,800,000' '৳5,200,000' '৳100,000,000' '৳3,200,000'
 '৳11,232,000' '৳2,600,000' '৳6,400,000' '৳10,800,000' '৳9,700,000'
 '৳16,300,000' '৳11,800,000' '৳8,637,500' '৳5,800,000' '৳4,600,000'
 '৳57,800,000' '৳5,274,000' '৳9,900,000' '৳2,500,000' '৳42,900,000'
 '৳25,237,500' '৳12,800,000' '৳13,395,000' '৳43,000,000' '৳28,000,000'
 '৳12,200,000' '৳6,610,000' '৳2,503,800' '৳2,472,600' '৳3,244,800'
 '৳2,800,000' '৳7,085,000' '৳27,500,000' '৳58,000,000' '৳9,630,000'
 '৳23,500,000' '৳8,250,000' '৳15,900,000' '৳9,300,000' '৳30,000,000'
 '৳9,825,000' '৳26,000,000' '৳5,796,000' '৳8,060,000' '৳9,425,000'
 '৳9,975,000' '৳7,375,000' '৳6,916,000' '৳8,140,000' '৳155,000,000'
 '৳49,500,000' '৳6,050,000' '৳19,500,000' '৳4,445,000' '৳15,750,000'
 '৳15,550,000' '৳8,675,000' '৳8,400,000' '৳2,730,000' '৳4,950,000'
 '৳6,600,000' '৳25,500,000' '৳3,402,000' '৳3,750,000' '৳50,400,000'
 '৳4,225,000' '৳5,400,000' '৳6,902,500' '৳6,985,000' '৳27,000,000'
 '৳7,200,000' '৳9,800,000' '৳11,675,000' '৳10,850,000' '৳10,150,000'
 '৳4,275,000' '৳32,310,000' '৳9,987,500' '৳6,540,000' '৳5,852,000'
 '৳4,775,000' '৳4,870,000' '৳18,540,000' '৳19,950,000' '৳7,680,000'
 '৳10,600,000' '৳18,500,000' '৳85,000,000' '৳6,490,000' '৳12,150,000'
 '৳6,100,000' '৳10,725,000' '৳200,000,000' '৳7,700,000' '৳4,400,000'
 '৳19,900,000' '৳42,435,000' '৳3,400,000' '৳18,875,000' '৳18,575,000'
 '৳4,725,000' '৳7,272,000' '৳2,400,000' '৳4,408,000' '৳19,700,000'
 '৳65,580,000' '৳79,000,000' '৳20,500,000' '৳20,800,000' '৳13,600,000'
 '৳109,800,000' '৳42,000,000' '৳34,000,000' '৳4,300,000' '৳24,500,000'
 '৳26,500,000' '৳2,000,000' '৳15,725,000' '৳32,960,000' '৳23,520,000'
 '৳28,485,000' '৳2,625,000' '৳14,400,000' '৳5,040,000' '৳19,452,500'
 '৳31,000,000' '৳11,050,000' '৳5,750,000' '৳21,525,000' '৳13,968,000'
 '৳10,627,500' '৳9,275,000' '৳60,000,000' '৳6,337,500' '৳24,000,000'
 '৳12,870,000' '৳8,580,000' '৳7,205,000' '৳46,500,000' '৳12,350,000'
 '৳72,500,000' '৳22,920,000' '৳47,000,000' '৳12,877,500' '৳10,710,000'
 '৳12,750,000' '৳19,200,000' '৳7,490,000' '৳8,850,000' '৳10,374,000'
 '৳22,104,000' '৳15,990,000' '৳5,460,000' '৳6,936,000' '৳6,325,000'
 '৳14,550,000' '৳4,410,000' '৳4,072,500' '৳3,825,000' '৳2,880,000'
 '৳9,811,800' '৳9,674,000' '৳11,600,000' '৳13,900,000' '৳25,400,000'
 '৳67,500,000' '৳39,366,000' '৳6,007,500' '৳5,337,000' '৳5,207,500'
 '৳3,900,000' '৳6,250,000' '৳5,737,500' '৳4,320,000' '৳4,440,000'
 '৳5,512,500' '৳4,620,000' '৳50,000,000' '৳3,250,000' '৳5,925,000'
 '৳21,200,000' '৳9,210,000' '৳21,800,000' '৳34,800,000' '৳8,625,000'
 '৳19,400,000' '৳37,000,000' '৳18,200,000' '৳7,975,000' '৳5,791,500'
 '৳7,326,000' '৳5,390,000' '৳13,882,500' '৳52,500,000' '৳3,150,000'
 '৳12,400,000' '৳6,575,000' '৳5,353,500' '৳7,788,000' '৳6,187,500'
 '৳4,050,000' '৳7,425,000' '৳154,000,000' '৳3,120,000' '৳6,231,500'
 '৳7,665,000' '৳8,167,000' '৳5,850,000' '৳4,424,000' '৳12,650,000'
 '৳6,160,000' '৳2,310,000' '৳4,062,500' '৳210,870,000' '৳3,600,000'
 '৳8,094,000' '৳37,500,000' '৳500,000,000' '৳29,300,000' '৳5,020,000'
 '৳5,368,000' '৳24,100,000' '৳11,700,000' '৳6,265,000' '৳23,110,000'
 '৳14,662,500' '৳59,000,000' '৳101,500,000' '৳5,985,000' '৳33,000,000'
 '৳4,885,000' '৳6,827,500' '৳52,000,000' '৳9,075,000' '৳12,160,000'
 '৳12,481,000' '৳90,900,000' '৳105,000,000' '৳7,875,000' '৳2,430,000'
 '৳5,260,000' '৳7,280,000' '৳7,117,000' '৳8,100,000' '৳7,650,000'
 '৳29,210,000' '৳30,153,000' '৳29,095,000' '৳5,940,000' '৳1,500,000'
 '৳70,000,000' '৳6,760,000' '৳6,850,000' '৳1,050,000' '৳5,340,000'
 '৳16,605,000' '৳17,145,000' '৳4,082,000' '৳14,459,000' '৳7,260,000'
 '৳8,930,000' '৳6,972,000' '৳7,370,000' '৳20,560,800' '৳9,267,500'
 '৳14,350,000' '৳10,350,000' '৳16,620,000' '৳13,125,000' '৳6,396,000'
 '৳3,125,000' '৳23,200,000' '৳72,000,000' '৳4,742,500' '৳13,820,000'
 '৳9,400,000' '৳532,000,000' '৳3,675,000' '৳3,850,000' '৳2,950,000'
 '৳7,750,000' '৳350,000,000' '৳4,025,000' '৳4,375,000' '৳5,034,000'
 '৳5,024,000' '৳3,354,000' '৳6,604,000' '৳4,998,000' '৳4,928,000'
 '৳5,220,000' '৳7,150,000' '৳4,888,000' '৳4,904,000' '৳1,300,000'
 '৳5,350,000' '৳48,016,000' '৳130,580,000' '৳65,484,000' '৳3,725,000'
 '৳2,750,000' '৳12,137,500' '৳7,754,600' '৳8,462,200' '৳7,888,000'
 '৳5,838,000' '৳7,755,000' '৳7,725,000' '৳8,562,500' '৳9,264,000'
 '৳9,864,000' '৳10,039,120' '৳8,040,000' '৳90,000,000' '৳11,028,200'
 '৳147,000,000' '৳5,875,000' '৳6,680,000' '৳8,495,000' '৳8,695,000'
 '৳6,192,000' '৳54,235' '৳6,669' '৳7,570,000' '৳9,675,000' '৳5,427,000'
 '৳14,100,000' '৳2,418,000' '৳3,885,000' '৳6,720,000' '৳8,160,000'
 '৳5,052,500' '৳3,950,000' '৳15,824,000' '৳8,560,000' '৳5,679,000' '৳66'
 '৳5,638,500' '৳5,175,000' '৳11,260,000' '৳6,831,000' '৳5,820,000'
 '৳14,014,000' '৳6,280,000' '৳5,900,000' '৳2,184,000' '৳2,232,000'
 '৳1,800,000' '৳2,640,000' '৳3,080,000' '৳2,580,000' '৳12,300,000'
 '৳14,625,000' '৳5,285,000' '৳1,250,000' '৳5,760,000' '৳2,160,000'
 '৳2,340,000' '৳5,740,000' '৳2,862,000' '৳7,512,500' '৳9,887,700'
 '৳9,936,000' '৳10,419,000' '৳13,120,000' '৳7,880,000' '৳7,393,750'
 '৳7,646,400' '৳8,155,200' '৳7,810,000' '৳14,817,700' '৳11,988,000'
 '৳3,380,000' '৳4,550,000' '৳7,130,000' '৳363,200,000' '৳3,920,000'
 '৳3,570,000' '৳3,225,000' '৳9,335,000' '৳5,683,200' '৳29,500,000'
 '৳2,920,000' '৳2,360,000' '৳6,660,000' '৳5,859,000' '৳8,460,000'
 '৳13,300,000' '৳10,854,000' '৳11,296,200' '৳6,175,000' '৳5,515,000'
 '৳5,544,000' '৳5,334,000' '৳3,928,000' '৳3,220,000' '৳4,575,000'
 '৳4,525,000' '৳3,550,000' '৳71,825,000' '৳7,731,500' '৳3,960,000'
 '৳21,645,000' '৳8,550,000' '৳14,250,000' '৳7,020,000' '৳6,840,000'
 '৳4,940,000' '৳4,845,000' '৳17,716,000' '৳3,068,000' '৳30,900,000'
 '৳476,000,000' '৳7,473,000' '৳4,812,500' '৳9,119,000' '৳7,148,000'
 '৳20,685,000' '৳8,835,000' '৳8,150,000' '৳11,410,000' '৳2,964,000'
 '৳4,672,500' '৳4,995,000' '৳2,875,000' '৳2,720,000' '৳13,064,000'
 '৳5,520,000' '৳1,240,000' '৳1,260,000' '৳6,750,000' '৳2,222,000'
 '৳3,312,000' '৳16,132,000' '৳5,592,000' '৳6,525,000' '৳2,680,000'
 '৳3,020,000' '৳7,132,000' '৳38,664,000' '৳1,200,000' '৳55,620,000'
 '৳5,887,000' '৳95,000,000' '৳7,936,000' '৳11,490,000' '৳7,115,000'
 '৳8,384,200' '৳3,650,000' '৳9,450,000' '৳21,699,600' '৳9,962,000'
 '৳3,614,000' '৳3,536,000' '৳5,632,000' '৳4,187,500' '৳5,675,125'
 '৳4,330,000' '৳6,075,000' '৳3,705,000' '৳4,427,000' '৳3,450,000'
 '৳6,367,000' '৳14,040,000' '৳434,434' '৳3,696,000' '৳566' '৳12,738,000'
 '৳5,998,400' '৳16,800,000' '৳1,350,000' '৳12,250,000' '৳29,932,000'
 '৳9,160,000' '৳11,589,500' '৳13,450,000' '৳7,392,000' '৳21,550,000'
 '৳4,102,625' '৳6,520,000' '৳6,705,000' '৳8,822,000' '৳13,310,000'
 '৳3,749,000' '৳5,025,000' '৳3,575,000' '৳4,325,000' '৳33,917,000'
 '৳4,049,500' '৳5,552,000' '৳7,518,000' '৳1,100,000' '৳2,268,000'
 '৳2,848,000' '৳12,636,000' '৳2,100,000' '৳2,320,000' '৳2,440,000'
 '৳4,347,000' '৳130,000,000' '৳5,282,000' '৳5,650,000' '৳5,878,600'
 '৳5,692,500' '৳5,033,000' '৳6,010,000' '৳3,780,000' '৳5,244,000'
 '৳6,190,000' '৳3,914,000' '৳5,510,000' '৳3,535,000' '৳5,805,000'
 '৳5,674,000' '৳4,536,000' '৳5,780,000' '৳5,060,000' '৳5,658,800'
 '৳5,586,000' '৳5,186,500' '৳4,080,000' '৳5,160,000' '৳4,636,000'
 '৳5,320,000' '৳4,205,000' '৳6,510,000' '৳5,642,000' '৳6,965,000'
 '৳5,660,000' '৳5,560,000' '৳5,665,000' '৳5,880,000' '৳6,900,000'
 '৳5,301,900' '৳3,940,000' '৳3,139,500' '৳4,753,000' '৳5,225,000'
 '৳6,505,000' '৳3,047,000' '৳4,123,500' '৳6,188,000' '৳5,775,000'
 '৳6,961,000' '৳5,130,000' '৳4,750,000' '৳5,878,000' '৳5,785,000'
 '৳3,375,000' '৳7,625,000' '৳5,625,000' '৳15,250,000' '৳19,062,500'
 '৳25,156,000' '৳3,990,000' '৳157,500,000' '৳27,570,000' '৳4,696,000'
 '৳4,960,000' '৳4,740,000' '৳1,760,000' '৳2,240,000' '৳2,560,000'
 '৳22,100,000' '৳272,000,000' '৳112,500,000' '৳182,000,000' '৳3,906,400'
 '৳3,815,200' '৳4,043,820' '৳4,112,000' '৳3,357,750']

In [12]:
data['Price_in_taka'] = data['Price_in_taka'].str.replace(',', '').str.replace('৳', '').astype("int64")

In [13]:
data['Price_in_taka'] = data['Price_in_taka'] / 1_000_000

In [14]:
data.rename(columns={'Price_in_taka': 'Price_in_millions'}, inplace=True)

In [15]:
data.head()

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,39.0,"Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,16.9,"Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,12.5,"Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,20.0,"Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,47.5,"Road No 25, Banani"

In [16]:
data['Floor_no'].unique()

array(['3', '1', '6', '4', '8', '2', '5', '7', '9', '8th', nan, '10',
       '14', 'G+7', '13', '12', '1st', '11', 'A1,A2,A3,A4,A5,A6,A7',
       '0+7', '1F', '4th to 8th Backside', '18', '5th', '17',
       'Merin City - Purbach'], dtype=object)

In [17]:
data[data['Floor_no'] == 'Merin City - Purbach']

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
3313,Plot For Sale In A Suitable Place In Bproperty...,NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"
3388,"For Sale, Residential Plot Is Situated In Bpro...",NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"
3392,Plot For Sale In A Suitable Place In Bproperty...,NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"
3393,Plot For Sale In A Suitable Place In Bproperty...,NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"
3432,In The Beautiful Location Of Bproperty Village...,NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"
3492,Plot For Sale In A Suitable Place In Narayanga...,NaN,NaN,Merin City - Purbach,vacant,2160.0,narayanganj-city,4.575,"Rupganj, Narayanganj"

In [18]:
data[data['Floor_no'] == 'A1,A2,A3,A4,A5,A6,A7']

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
1663,A Full Building Is For Sale In Sugandha Reside...,18.0,10.0,"A1,A2,A3,A4,A5,A6,A7",vacant,10890.0,chattogram,105.0,"Sugandha Residential Area, Panchlaish"

In [19]:
data[data['Floor_no'] == '4th to 8th Backside']

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
2674,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,4th to 8th Backside,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"

In [20]:
print(data.shape)

(2931, 9)

In [21]:
# Step 1: Fix `Floor_no` values
def clean_floor_no(value):
    if pd.isna(value):
        return value
    value = str(value).strip().lower()
    if value.endswith('th') or value.endswith('st') or value.endswith('f'):
        return int(''.join(filter(str.isdigit, value)))
    if value == 'g+7' or value == '0+7':
        return 7
    if value == 'a1,a2,a3,a4,a5,a6,a7':
        return 'A1-A7'  # Placeholder for later row expansion
    if value == '4th to 8th backside':
        return '4-8'  # Placeholder for later row expansion
    if value == 'Merin City - Purbach':
        return np.nan
    return value

data['Floor_no'] = data['Floor_no'].apply(clean_floor_no)

In [22]:
# Step 2: Expand rows for specific cases
# Case: 'A1,A2,A3,A4,A5,A6,A7'
a1_a7_data = data[data['Floor_no'] == 'A1-A7'].copy()
a1_a7_expanded = pd.DataFrame()

for i in range(1, 8):
    temp = a1_a7_data.copy()
    temp['Floor_no'] = i
    a1_a7_expanded = pd.concat([a1_a7_expanded, temp], ignore_index=True)

In [23]:
# Case: '4th to 8th Backside'
four_to_eight_data = data[data['Floor_no'] == '4-8'].copy()
four_to_eight_expanded = pd.DataFrame()

for i in range(4, 9):
    temp = four_to_eight_data.copy()
    temp['Floor_no'] = i
    four_to_eight_expanded = pd.concat([four_to_eight_expanded, temp], ignore_index=True)

In [24]:
# Remove rows with placeholders and add expanded rows
data = data[~data['Floor_no'].isin(['A1-A7', '4-8'])]
data = pd.concat([data, a1_a7_expanded, four_to_eight_expanded], ignore_index=True)

# Convert `Floor_no` to numeric
data['Floor_no'] = pd.to_numeric(data['Floor_no'], errors='coerce')

In [25]:
data.head()

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3.0,vacant,1960.0,dhaka,39.0,"Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1.0,vacant,1705.0,dhaka,16.9,"Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6.0,vacant,1370.0,dhaka,12.5,"Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4.0,vacant,2125.0,dhaka,20.0,"Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4.0,vacant,2687.0,dhaka,47.5,"Road No 25, Banani"

In [26]:
data.shape

(2941, 9)

In [27]:
data[data['Location']=='Dakshin Kattali, 11 No. South Kattali Ward']

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_millions,Location
1243,"Start Your New Home, In This Reasonable And Co...",4.0,3.0,5.0,vacant,1500.0,chattogram,6.0,"Dakshin Kattali, 11 No. South Kattali Ward"
1258,Visit This 825 Sq Ft Flat For Sale In Dakshin ...,3.0,3.0,3.0,vacant,825.0,chattogram,3.7,"Dakshin Kattali, 11 No. South Kattali Ward"
1981,1200 Sq Ft Flat With Great Residential Service...,3.0,3.0,4.0,vacant,1200.0,chattogram,8.0,"Dakshin Kattali, 11 No. South Kattali Ward"
2936,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,4.0,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"
2937,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,5.0,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"
2938,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,6.0,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"
2939,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,7.0,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"
2940,An Apartment Is Up For Sale In Dakshin Kattali...,3.0,3.0,8.0,vacant,1250.0,chattogram,3.8,"Dakshin Kattali, 11 No. South Kattali Ward"

In [28]:
data['Floor_no'].unique()

array([ 3.,  1.,  6.,  4.,  8.,  2.,  5.,  7.,  9., nan, 10., 14., 13.,
       12., 11., 18., 17.])

In [29]:
data.isna().sum()

Title                  0
Bedrooms             831
Bathrooms            831
Floor_no             581
Occupancy_status      89
Floor_area            89
City                   0
Price_in_millions      0
Location               6
dtype: int64

In [30]:
# unique values of "City"
data["City"].unique()

array(['dhaka', 'chattogram', 'cumilla', 'narayanganj-city', 'gazipur'],
      dtype=object)

In [31]:
columns_to_drop_miising_values = ['Occupancy_status', 'Floor_area', 'Location', 'Floor_no']

# Remove rows with missing values in the specified columns
data = data.dropna(subset=columns_to_drop_miising_values, axis = 0)
# verify the result
print(data.isnull().sum())

Title                  0
Bedrooms             270
Bathrooms            270
Floor_no               0
Occupancy_status       0
Floor_area             0
City                   0
Price_in_millions      0
Location               0
dtype: int64

In [32]:
# Impute the missing values in Bathrooms and Bedrooms using Floor area
features = ['Floor_area', 'Bedrooms', 'Bathrooms']

imputer = KNNImputer(n_neighbors=5, weights='distance')
data[features] = imputer.fit_transform(data[features])

In [33]:
data.isna().sum()

Title                0
Bedrooms             0
Bathrooms            0
Floor_no             0
Occupancy_status     0
Floor_area           0
City                 0
Price_in_millions    0
Location             0
dtype: int64