In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price-bangladesh/house_price_bd.csv

In [2]:
data = pd.read_csv("/kaggle/input/house-price-bangladesh/house_price_bd.csv")

In [3]:
data.head(5)

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,"৳39,000,000","Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,"৳16,900,000","Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,"৳12,500,000","Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,"৳20,000,000","Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,"৳47,500,000","Road No 25, Banani"

In [4]:
data['Title'].unique()

array(['We Are Offering You A Very Spacious 1960 Sq Ft Flat For Sale In Gulshan 1',
       'Valuable 1705 Square Feet Apartment Is Ready To Sale In Kalabagan',
       '1370 square feet apartment is ready to sale in Shukrabad', ...,
       'Buy This 1350 Sq Ft Amazing Flat In Gazipur, Joydebpur With Modern Dwelling Advantages',
       'Properly Designed This 1000 Square Feet Apartment Is Now Up For Sale In Chandana Next To Joydebpur Govt. Girls High School.',
       '1240 Sq Ft Flat For Sale Is Awaiting You In Gazipur, Joydebpur'],
      dtype=object)

In [5]:
len(data)

3865

In [6]:
data.describe()

          Bedrooms    Bathrooms     Floor_area
count  2864.000000  2864.000000    3766.000000
mean      3.133031     2.992668    1940.299522
std       2.215457     0.978434    6024.921935
min       1.000000     1.000000      84.000000
25%       3.000000     3.000000    1100.000000
50%       3.000000     3.000000    1380.000000
75%       3.000000     3.000000    1860.000000
max      50.000000    10.000000  195840.000000

In [7]:
data.isna().sum()

Title                  0
Bedrooms            1001
Bathrooms           1001
Floor_no             684
Occupancy_status      99
Floor_area            99
City                   0
Price_in_taka          0
Location               6
dtype: int64